<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="PhotosDB" connectionString="server=localhost;database=Photos;integrated security=true;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpFriendly">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="largeWebHttpBinding" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760" maxBufferSize="10485760"
                 closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00">
          <readerQuotas maxArrayLength="10485760" maxBytesPerRead="10485760" maxStringContentLength="10485760" maxDepth="10485760"/>
          <security mode="None"/>
        </binding>
      </webHttpBinding>
      <netTcpBinding>
        <binding name="largeNetTcpBinding" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760" maxBufferSize="10485760"
                 closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00">
          <readerQuotas maxArrayLength="10485760" maxBytesPerRead="10485760" maxStringContentLength="10485760" maxDepth="10485760"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Portfolio.PhotoService.PhotoSrv">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webHttpFriendly" bindingConfiguration="largeWebHttpBinding" contract="Portfolio.PhotoService.IPhotoSrv"/>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="largeNetTcpBinding" contract="Portfolio.PhotoService.IPutPhotoSrv"/>
      </service>
    </services>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
