@{ 
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <p>
            <h2>Photo Service Link</h2>
            <a href="~/Services/PhotoSrv.svc">Product Image Service Link</a>. Use The link to add a service reference to your project.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Photo History</h2>
        <p>Photo History goes here</p>
    </div>
</div>