<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
              <binding name="NetTcpBinding_IPutPhotoSrv" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760" maxBufferSize="10485760"
                 closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00">
                <readerQuotas maxArrayLength="10485760" maxBytesPerRead="10485760" maxStringContentLength="10485760" maxDepth="10485760"/>
                <security mode="None"/>
              </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost/Portfolio.PhotoService/PhotoSrv.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPutPhotoSrv"
                contract="PhotoServiceReference.IPutPhotoSrv" name="NetTcpBinding_IPutPhotoSrv" />
        </client>
    </system.serviceModel>
</configuration>